<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="./assets/icons/favicon.ico"
      type="image/svg+xml"
    />
    <title>Proyecto 2do Cuatrimestre - ISPC FullStack</title>
    <meta
      name="author"
      content="Cristian, Sofia, Agustin, Celeste, Paula, Vanesa, Alfredo, Joaquin, Giuliano"
    />
    <meta
      name="description"
      content="Proyecto del segundo cuatrimestre de cursada del 2022 en el ISPC modulo Programador FullStack"
    />
    <link rel="stylesheet" type="text/css" href="./assets/css/variables.css" />
    <link rel="stylesheet" type="text/css" href="./assets/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="./assets/css/navbar.css" />
    <link rel="stylesheet" type="text/css" href="./assets/css/banner.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="./assets/css/quienes_somos.css"
    />
    <link rel="stylesheet" type="text/css" href="./assets/css/logros.css" />
    <link rel="stylesheet" type="text/css" href="./assets/css/cards.css" />
    <link rel="stylesheet" type="text/css" href="./assets/css/opiniones.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="./assets/css/contactanos-form.css"
    />
    <link rel="stylesheet" type="text/css" href="./assets/css/footer.css" />
    <link rel="stylesheet" type="text/css" href="./assets/css/btn-volver.css" />
  </head>
  <body>
    <!-- sección del banner -->
    <header id="banner" class="banner">
      <nav class="navbar">
        <span class="navbar_title">Argentus</span>

        <div class="navbar_menu">
          <label class="menu_button" for="menu_toggle">
            <img
              id="navbar-toggle"
              src="./assets/icons/bars.svg"
              alt="toggle-icon"
            />
          </label>

          <input type="checkbox" name="menu_toggle" id="menu_toggle" />

          <div class="menu_list">
            <a class="list_link" href="#">Planes</a>

            <label class="list_link" for="list_toggle">
              Países
              <img src="./assets/icons/chevron-down.svg" alt="down arrow" />
            </label>
            <input type="checkbox" name="list_toggle" id="list_toggle" />

            <div class="list_menu">
              <a class="list_link" href="#">Holanda</a>
              <a class="list_link" href="#">Nueva Zelanda</a>
              <a class="list_link" href="#">Australia</a>
            </div>

            <a class="list_link" href="#">Servicios</a>
            <a class="list_link" href="#">Contacto</a>
          </div>
        </div>
      </nav>

      <div class="banner-text">
        <h1>
          Empezá tu <br />
          Viaje a <br />
          <span
            class="txt-rotate"
            data-period="2000"
            data-rotate='[ "Tus sueños.", "Nuevas experiencias.", "Nuevas oportunidades." ]'
          ></span>
        </h1>

        <a class="banner-text-cta" href="#">Asesorate</a>
      </div>

      <span class="banner-cta">
        Mirá los países disponibles
        <img src="./assets/icons/chevron-double-down.svg" alt="down arrow" />
      </span>
    </header>

    <!--Tarjeta de Paises -->
    <section class="paises">
      <h2 class="paises_titulo">Países disponibles</h2>
      <div class="paises_cards">
        <div class="card">
          <h3 class="text">Nueva Zelanda</h3>
        </div>

        <div class="card">
          <h3 class="text">Holanda</h3>
        </div>

        <div class="card">
          <h3 class="text">Australia</h3>
        </div>
      </div>
    </section>

    <!-- Sección de quienes somos -->
    <section class="quienes-somos">
      <h3 class="quienes-somos_titulo">¿Quienes Somos?</h3>
      <p class="quienes-somos_parrafo">
        Somos ARGENTUS, la consultora lider en Argentina. Creada por argentinos
        y para argentinos. Obtén tu documentación casi al instante, documentos y
        planes de viaje.
      </p>

      <img class="quienes-somos_img" src="./assets/images/nosotros.jpg" />

      <h3 class="quienes-somos_titulo">Nuestra Historia</h3>
      <p class="quienes-somos_parrafo">
        Llevamos 3 años en el mercado y hemos logrado beneficios en Nueva
        Zelanda, Holanda y Australia. Consiguiendo descuentos en hoteles
        locales, planes de viaje y mucho más...
      </p>

      <!--Logros -->
      <section class="logros">
        <h2 class="logros_title">Logros</h2>
        <ul class="logros_lista">
          <li class="lista_logro">
            <b class="lista_logro-numero">+ 1.000</b> argentinos emigrados
          </li>
          <li class="lista_logro">
            <b class="lista_logro-numero">+ 20</b> oficinas
          </li>
          <li class="lista_logro">
            <b class="lista_logro-numero">+ 3</b> paises destino
          </li>
          <li class="lista_logro">
            <b class="lista_logro-numero">+ 35</b> empresas socias
          </li>
        </ul>
      </section>

      <h3 class="quienes-somos_titulo">Pròximas metas</h3>
      <p class="quienes-somos_parrafo">
        Pensamos incorporar próximamente a 5 paises nuevos a nuestro catálogo.
        También estamos consiguiendo visitas turisticas guiadas y muchos otros
        beneficios.
      </p>
    </section>

    <div class="container">
      <article class="carrousel">
        <div class="card-opinion">
          <header class="card-opinion_header">
            <figure class="foto-opinion">
              <img
                src="./assets/images/user-1.jpg"
                alt="imagen de quien opina"
              />
            </figure>

            <h3 class="header_nombre">Nicolás Valdéz</h3>

            <span class="header_ubicacion">
              <img
                src="./assets/icons/geo-alt-fill.svg"
                alt="icono de ubicación"
              />
              Catamarca
            </span>

            <div class="header_rate">
              <img src="./assets/icons/star-fill.svg" alt="" />
              <img src="./assets/icons/star-fill.svg" alt="" />
              <img src="./assets/icons/star-fill.svg" alt="" />
              <img src="./assets/icons/star-fill.svg" alt="" />
              <img src="./assets/icons/star.svg" alt="" />
            </div>
          </header>

          <p class="card-opinion_opinion">
            Una experiencia de lo más placentera durante mi visado en Nueva
            Zelanda, el papeleo fue rápido y sacaron todas mis dudas
          </p>
        </div>

        <div class="card-opinion">
          <header class="card-opinion_header">
            <figure class="foto-opinion">
              <img
                src="./assets/images/user-2.jpg"
                alt="imagen de quien opina"
              />
            </figure>

            <h3 class="header_nombre">Nicolás Valdéz</h3>

            <span class="header_ubicacion">
              <img
                src="./assets/icons/geo-alt-fill.svg"
                alt="icono de ubicación"
              />
              Catamarca
            </span>

            <div class="header_rate">
              <img src="./assets/icons/star-fill.svg" alt="" />
              <img src="./assets/icons/star-fill.svg" alt="" />
              <img src="./assets/icons/star-fill.svg" alt="" />
              <img src="./assets/icons/star-fill.svg" alt="" />
              <img src="./assets/icons/star.svg" alt="" />
            </div>
          </header>

          <p class="card-opinion_opinion">
            Una experiencia de lo más placentera durante mi visado en Nueva
            Zelanda, el papeleo fue rápido y sacaron todas mis dudas
          </p>
        </div>

        <div class="card-opinion">
          <header class="card-opinion_header">
            <figure class="foto-opinion">
              <img
                src="./assets/images/user-3.jpg"
                alt="imagen de quien opina"
              />
            </figure>

            <h3 class="header_nombre">Nicolás Valdéz</h3>

            <span class="header_ubicacion">
              <img
                src="./assets/icons/geo-alt-fill.svg"
                alt="icono de ubicación"
              />
              Catamarca
            </span>

            <div class="header_rate">
              <img src="./assets/icons/star-fill.svg" alt="" />
              <img src="./assets/icons/star-fill.svg" alt="" />
              <img src="./assets/icons/star-fill.svg" alt="" />
              <img src="./assets/icons/star-fill.svg" alt="" />
              <img src="./assets/icons/star.svg" alt="" />
            </div>
          </header>

          <p class="card-opinion_opinion">
            Una experiencia de lo más placentera durante mi visado en Nueva
            Zelanda, el papeleo fue rápido y sacaron todas mis dudas
          </p>
        </div>
      </article>
    </div>

    <form class="form" action="#" method="post">
      <div class="form_inputs">
        <div class="inputs_input">
          <input
            class="form_input"
            type="text"
            name="name"
            id="name"
            placeholder="Germán Ramirez"
            autocomplete="off"
          />
        </div>

        <div class="inputs_input">
          <input
            class="form_input"
            type="email"
            name="email"
            id="email"
            placeholder="Email (opcional)"
            autocomplete="off"
          />
        </div>

        <div class="inputs_input">
          <div class="input_tel">
            <input
              class="form_input"
              type="tel"
              name="cod_area"
              id="cod_area"
              placeholder="11"
              autocomplete="off"
            />
            <input
              class="form_input"
              type="tel"
              name="tel"
              id="tel"
              placeholder="456-4335"
              autocomplete="off"
            />
          </div>
        </div>

        <div class="inputs_input">
          <textarea
            class="form_textarea"
            name="message"
            id="message"
            cols="30"
            rows="10"
            placeholder="Mensaje"
            autocomplete="off"
          ></textarea>
        </div>
      </div>

      <input type="submit" value="Quiero que me asesoren" />
    </form>

    <!--Sección del footer-->
    <footer class="footer_container">
      <div class="footer_brand">
        <h3 class="brand_titulo">BRAND</h3>
        <br />
        <p class="p_style">
          Somos la consultora líder de habla hispana con oportunidades para
          trabajar en cualquier parte del mundo y disfrutar mientras lo haces.
        </p>
      </div>
      <div class="devs">
        <h2 class="h2Dev">Desarrolladores:</h2>

        <ul class="devs_ul">
          <li>Agustín</li>
          <li>Alfredo</li>
          <li>Braian</li>
          <li>Celeste</li>
          <li>Cristian</li>
          <li>Giuliano</li>
          <li>Paula</li>
          <li>Sofía</li>
          <li>Vanessa</li>
        </ul>
      </div>
      <div class="devs_final">
        <p>
          Desde 2019 - 2022 © BRAND
          <a href="#">www.BRAND.com</a>
        </p>
        <p class="p_links">
          <a href="#">Aviso Legal</a>-<a href="#">Politica de Privacidad</a>-<a
            href="#"
            >Cookies</a
          >
        </p>
      </div>
    </footer>

    <a href="#banner" class="btn-volver">
      <img src="./assets/icons/chevron-up.svg" alt="boton para volver arriba" />
    </a>

    <script type="text/javascript" src="./assets/js/text-animation.js"></script>
  </body>
</html>
