.btn-volver {
  width: 75px;
  height: 75px;

  background-color: var(--secondary);

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50px;

  overflow: hidden;

  position: fixed;

  top: auto;
  right: 24px;
  bottom: 24px;
  left: auto;

  z-index: 90;
}

.btn-volver img {
  width: 3.6rem;

  margin-top: -1rem;

  z-index: 100;
}

@media screen and (min-width: 1024px) {
  .btn-volver {
    display: none;
  }
}
