.paises {
    width: 100%;

    padding: 48px 24px;
}

h2.paises_titulo {
    font-size: 2rem;
    font-weight: 400;
    color: rgba(20, 20, 20, .65);
}


.paises_cards  .card {
    width: 100%;
    max-width: 350px;
    height: 200px;

    margin: 30px auto;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 8px;

    transition: all .4s ease-out;

    cursor: pointer;
}

.paises_cards .card:nth-child(1) {
    background-image: linear-gradient(to top, rgba(20, 20, 20, .75), rgba(20, 20, 20, .65), rgba(20, 20, 20, .95)) ,url('../images/card-nueva-zelanda.jpg');
}

.paises_cards .card:nth-child(2) {
    background-image: linear-gradient(to top, rgba(20, 20, 20, .75), rgba(20, 20, 20, .65), rgba(20, 20, 20, .95)) ,url('../images/card-holanda.jpg');
}

.paises_cards .card:nth-child(3) {
    background-image: linear-gradient(to top, rgba(20, 20, 20, .75), rgba(20, 20, 20, .65), rgba(20, 20, 20, .95)) ,url('../images/card-australia.jpg');
}


.card .text {
    font-size: 1.6rem;
    color: rgba(255, 255, 255, .85);
    
    position: relative;
    
    top: 160px;
    left: 16px;
}



@media screen and (min-width: 1024px) {
    .paises_cards {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}