/* variables */
:root {
    --primary: #253E5D;
    --secondary: #DF6B2B;
}


/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul a {
    color: rgba(255, 255, 255, .8);

    font-weight: 200;
    text-decoration: none;
}

ul {
    list-style: none;
}


/* seccion del header */
header {
    width: 100vw;
    height: 100vh;

    background-image: linear-gradient(to top, rgba(20, 20, 20, .75), rgba(20, 20, 20, .65), rgba(20, 20, 20, .95)) ,url('../images/banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



/* seccion del navbar */
nav.navbar {
    width: 100%;
    height: 80px;

    padding: 16px 24px;

    color: #fff;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav span {
    font-size: 24px;
    font-weight: 200;
}

nav div.toggle-list img {
    width: 26px;
    height: 26px;

    cursor: pointer
}


/* menu list */
div.toggle-list {
    width: auto;
    height: auto;
}

ul.menu-list {
    display: none;

    right: 100%;
}

ul.paises {
    display: none;
}

ul.paises.toggle {
    padding: 24px 0;
}


ul.menu-list.toggle {
    width: 100%;
    height: auto;

    padding: 24px 16px;

    background-color: rgba(61, 61, 61, .75);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    position: absolute;
    
    top: 80px;
    left: 0;
}


ul.menu-list.toggle, ul.paises {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

ul.menu-list li, ul.paises li {
    padding: 24px 16px
}

ul.menu-list li a, ul.paises li a {
    width: 100%;
    
    padding: 16px 0;

    font-size: 16px;
    font-weight: 200;

    text-align: center;
}
