.banner {
    width: 100vw;
    height: 100vh;

    background-image: linear-gradient(to top, rgba(20, 20, 20, .75), rgba(20, 20, 20, .65), rgba(20, 20, 20, .95)) ,url('../images/banner-mobile.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.banner .banner-text {
    margin-top: -100px;
    padding: 0 24px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.banner .banner-cta {
    padding: 16px 0;

    font-size: 1.4rem;
    font-weight: 200;
    color: #F1F4F9;

    align-self: center;

    opacity: .8;

    user-select: none;
}

.banner .banner-cta img {
    width: 1.2rem;

    margin-bottom: -.2rem;
}



.banner .banner-text h1 {
    height: 18.5rem;

    font-size: 3.6rem;
    font-weight: 200;
    color: #FBF9ED;

    display: inline-block;

    user-select: none;
}

.banner .banner-text span {
    font-size: 3.6rem;
    font-weight: 400;
    color: var(--secondary);
}

.banner .banner-text .banner-text-cta {
    padding: 1.4rem 2.8rem;

    font-size: 1.4rem;
    font-weight: 400;
    text-decoration: none;
    color: var(--secondary);

    background-color: transparent;

    border: 1px solid var(--secondary);
    border-radius: 50px;

    transition: background-color 0.5s 0s ease-out, color 0.5s 0s ease-out;

    user-select: none;
}

.banner .banner-text .banner-text-cta:hover {
    color: #F1F4F9;

    background-color: var(--secondary);
}

@media screen and (min-width: 1024px) {
    .banner {
        height: 100vh;

        background-image: linear-gradient(to top, rgba(20, 20, 20, .75), rgba(20, 20, 20, .65), rgba(20, 20, 20, .95)) ,url('../images/banner-desktop.jpg');
    }

    .banner .banner-text {
        margin-top: -50px;
        padding: 0 24px;
    
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .banner .banner-text h1 {
        height: 14.4rem;
    
        font-size: 3.6rem;
        font-weight: 200;
        color: #FBF9ED;
    
        display: inline-block;
    }


    .banner .banner-text .banner-text-cta {
        padding: 1.6rem 3.2rem;
    
        font-size: 1.6rem;
    }
}