.icon__map__container {
  width: 100%;
  max-width: 700px;
  height: 250px;

  margin-top: 48px;
  padding: 0 24px;

  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.icon__map__container iframe {
  width: 82%;
  height: 100%;

  border-radius: 8px;
}

.icon__map__container .icons__container {
  width: 16%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.icon__map__container .icons__container img {
  width: 3.6em;

  cursor: pointer;
}



@media screen and (min-width: 1024px) {
  .icon__map__container {
    margin: auto;
    padding: 0;
  }

  .icon__map__container .icons__container {
    align-items: flex-end;
  }
}