.footer_container {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background: rgba(28,39,41,255);
    color: #F1F4F9;
    text-align: center;
    justify-content: flex-start;
}


.footer_brand{
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    height: 30%;
    justify-content: center;
}
.p_style{
    width: 90%;
    text-align: left;
    margin:0px 20px;

}
.brand_titulo{
  
    margin-top: 0;
    font-size: 2em;
    text-align: left;
    margin-bottom: 0;
    margin-left: 20px;
}

.devs{
    display: flex;
   flex-direction: column;
   width: 100%;
   align-items: flex-start;
   margin-left: 20px;
 }

 .devs_ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px; 
    margin-top: 10px;
 }

 .devs_final{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
 }

 .devs_link{
    width: 100%;
    display:flex;
    align-items: center;
    
 }

 
.p_links{
    font-size: 10px;
}

 