@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&display=swap');



html{
    height: 100vh;
    width: 100vw;
    margin: 0%;
}

body{
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    font-family: 'Inter', 'monospace';
   
}

.icon__map__container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.icons__container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 85%;




}

.main__container{
    margin: 0;
    height: 50%;
}
 .fa-facebook{
    color: #3c5898;
 }
 .fa-whatsapp{
    color: #075e54;
 }
 .fa-instagram{
    color:#833AB4;
 }
 h3{
    margin-left: 10px;
 }

 /*phones*/
@media only screen and (min-width: 425px) and (max-width: 479px){

}



/*small devices*/
@media only screen and (min-width: 480px) and (max-width: 599px){

    .mapa{
    height: 300px;
    width: 400px;
     }
    .titulo_contactanos{
        font-size: 20px;
    }
    
    .icons__container{
        display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    
    
        width: 30px;
        font-size: 20px;
    }
    }

    /*medium devices*/
    @media only screen and (min-width: 600px) and (max-width: 767px) {
        .mapa{
            height: 300px;
            width: 500px;
             }
            .titulo_contactanos{
                font-size: 30px;
            }
            
            .icons__container{
                display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 100%;
            
            
            
                width: 50px;
                font-size: 20px;
            }
    }

     /*tablet styles*/

     @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .main__container{
            margin: 0;
            height: 80%;
        }

        .mapa{
            height: 300px;
            width: 600px;
             }
            .titulo_contactanos{
                font-size: 30px;
            }
            
            .icons__container{
                display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 70%;
            
            
            
                width: 30px;
                font-size: 20px;
            }
     }
     @media only screen and (min-width: 1025px) and (max-width: 2560px){
        .main__container{
            margin: 0;
            height: 80%;
        }

        .mapa{
            height: 90%;
            width: 70%;
             }
            .titulo_contactanos{
                font-size: 40px;
                margin-left: 7%;
            }
            
            .icons__container{
                display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 70%;
            
            
            
                width: 30px;
                font-size: 20px;
            }

     }

     

      